In [1]:
import pandas as pd
import numpy as np
from numpy.random import rand

In [67]:
inputs_labels={'A':'Infill',
                'B': 'Orientation',
                'C': 'Nozzle Diameter'}
dat=[('A',5,100),('B',0,90),('C',0.2,1)]
inputs_df=pd.DataFrame(dat,columns=['index','low','high'])
inputs_df=inputs_df.set_index(['index'])
inputs_df['label']=inputs_df.index.map(lambda a: inputs_labels[a])

inputs_df

       low  high            label
index
A      5.0   100           Infill
B      0.0    90      Orientation
C      0.2     1  Nozzle Diameter

In [68]:
inputs_df['average']=inputs_df.apply(lambda z:(z['high']+z['low'])/2, axis=1)

inputs_df['average']

index
A    52.5
B    45.0
C     0.6
Name: average, dtype: float64

In [69]:
inputs_df['span']=inputs_df.apply(lambda z:(z['high']-z['low'])/2, axis=1)
inputs_df['span']

index
A    47.5
B    45.0
C     0.4
Name: span, dtype: float64

In [70]:
inputs_df['encoded_low'] = inputs_df.apply( lambda z : ( z['low']  - z['average'] )/( z['span'] ), axis=1)
inputs_df['encoded_low']

index
A   -1.0
B   -1.0
C   -1.0
Name: encoded_low, dtype: float64

In [71]:
inputs_df['encoded_high'] = inputs_df.apply( lambda z : ( z['high']  - z['average'] )/( z['span'] ), axis=1)
inputs_df['encoded_high']

index
A    1.0
B    1.0
C    1.0
Name: encoded_high, dtype: float64

In [73]:
inputs_df=inputs_df.drop(['average','span'], axis=1)
inputs_df

       low  high            label  encoded_low  encoded_high
index
A      5.0   100           Infill         -1.0           1.0
B      0.0    90      Orientation         -1.0           1.0
C      0.2     1  Nozzle Diameter         -1.0           1.0

In [74]:
import itertools
encoded_inputs=list(itertools.product([-1,1],[-1,1],[-1,1]))
encoded_inputs

[(-1, -1, -1),
 (-1, -1, 1),
 (-1, 1, -1),
 (-1, 1, 1),
 (1, -1, -1),
 (1, -1, 1),
 (1, 1, -1),
 (1, 1, 1)]